[submodule "client"]
	path = client
	url = https://github.com/orden-gg/client
[submodule "eth"]
	path = eth
	url = https://github.com/orden-gg/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/orden-gg/circuits.git
[submodule "packages"]
	path = packages
	url = https://github.com/orden-gg/packages
